body {
    font-family: Arial, sans-serif;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.belt {
    background-color: rgb(19, 25, 33);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.left {
    width: 314px;
    height: 60px;
    background-color: rgb(19, 25, 33);
    color: #CCCCCC;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.left-item {
    width: 152px;
    height: 50px;
    font: 12px arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 5px 2px 5px 0;
    padding: 0 9px;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

.left-item:first-child {
    margin: 5px 0 5px 11px;
    padding: 4px 0 0;
    background-image: url('images/Amazonlogo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.left-item:hover {
    border-color: white;
}

.right {
    width: 323px;
    height: 58px;
    background-color: rgb(19, 25, 33);
    color: #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.right-item {
    width: 152px;
    height: 50px;
    font: 12px arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 5px 2px 5px 0;
    padding: 0 9px;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

.right-item:hover {
    border-color: white;
}

.search-bar {
    min-width: 75px;
    width: 100%;
    font: 14px Arial, sans-serif;
    display: flex;
    align-items: center;
    position: static;
    box-sizing: border-box;
}

.drop-down-button {
    min-width: 65px;
    height: 40px;
    font-size: 12px;
    padding: 0 0;
    box-sizing: border-box;
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    text-align: center;
    display: flex;
    color: black;
    border-radius: 5px 0 0 5px;
    border: 1px solid rgb(230, 230, 230);
    align-items: center;
    justify-content: center;

}

.drop-down-container{
    display: flex;
    flex-direction: column;
}

.drop-down{
    position: absolute;
    margin-top: 45px;
    min-width: 200px;
    max-height: 240px;
    border: solid 1px rgb(230, 230, 230);
    background-color: white;
    z-index: 10;
    overflow-y: auto;
    display: none;
    box-shadow: 5px 5px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 5px 5px;

}

.drop-down ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.drop-down li{
    cursor: pointer;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.drop-down li:hover{
    background-color: blue;
    color: white;
}

.transparent-frame {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0);
}

.search-bar label {
    width: 90%;
    height: 40px;
    max-height: 40px;
    margin: 0 0 0 0;
    padding: 0;
}

.search-bar input {
    min-width: 100%;
    height: 40px;
    padding: 0 0;
    box-sizing: border-box;
    border: 1px solid rgb(230, 230, 230);
}

.search-bar button {
    width: 45px;
    height: 40px;
    background-color: rgb(254, 189, 105);
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
    border: 1px solid rgb(254, 189, 105);
}

.lupa {
    width: 12px;
    height: 12px;
}

.underbelt {
    background-color: rgb(35, 47, 62);
    color: white;
    height: 39px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: static;
    box-sizing: border-box;
}

.underbelt-item {
    height: 28px;
    padding: 8px 9px;
    margin: 5px 0 6px;
    font: 14px Arial, sans-serif;
    text-align: center;
    cursor: pointer;
    border-radius: 2px 2px 2px 2px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.underbelt-item:hover {
    border-color: white;
}

.underbelt-item:first-child {
    height: 28px;
    padding: 8px 9px;
    margin: 5px 0 6px 12px;
}

.underbelt-item:last-child {
    height: 28px;
    padding: 8px 9px;
    margin: 5px 12px 6px 0;
}

.main {
    box-sizing: border-box;
    background-image: url('images/background-image-0.jpg');
    background-position: top;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.buttons {
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.carousel-button-left{
    width: 100px;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
    margin-left: 1.5%;
}

.carousel-button-right{
    width: 100px;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
    margin-right: 1.5%;
}

.rectangle-container {
    box-sizing: border-box;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.rectangle-container:first-child {
    margin-top: 300px;
}

.rectangle {
    box-sizing: border-box;
    min-width: 280px;
    max-width: 320px;
    width: 100%;
    height: 420px;
    padding: 15px 10px 0 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 0;
    border: 1px solid rgb(230, 230, 230);
}

.rectangle h2 {
    font-size: 21px;
    width: 250px;
    height: 28px;
    color: rgb(19, 25, 33);
    margin: 0 0 10px;
}

.rectangle:first-child img {
    width: 95%;
    height: 300px;
    margin-top: 20px;
}

.rectangle:nth-child(2) img {
    width: 95%;
    height: 300px;
    margin-top: 20px;
}

.rectangle:last-child {
    height: 100px;
    margin: 0 0 0 0;
}

.product-images {
    display: grid;
    flex: 1;
    gap: 2px 6px;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    margin-bottom: 1px;
    margin-left: 20px;
}

.img-container {
    width: 130px;
    height: 168px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container img {
    width: 111px;
    height: 111px;
}

.footer {
    box-sizing: border-box;
    background-color: #232f3e;
    margin-top:0;
    font: 12px Arial, sans-serif;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-row {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-item {
    box-sizing: border-box;
    height: 20px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.footer-item:first-child {
    margin-left: 0;
    border-left: 1px solid transparent;
}

.footer-item:nth-child(4) {
    margin-left: 0;
    border-right: 1px solid transparent;
}

.footer-item:last-child {
    margin-bottom: 0;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.menu-sliding {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: none;
    z-index: 100;
}

.menu-container{
    max-height: 100%;
    min-width: 200px;
    width: 30%;
    z-index: 200;
}

.menu-header {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(7, 36, 69);
    flex-direction: row;
    color: white;
}

.menu-header p {
    box-sizing: border-box;
    height: 100%;
    margin-left: 1px;
}

.close-slide-menu {
    box-sizing: border-box;
    background-color: rgba(7, 36, 69, 0);
    display: flex;
    border: transparent;
    align-items: center;
    color: white;
    position: absolute;
    right: 68%;
}

.menu-lists {
    max-height: 100%;
    overflow-y: scroll;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: black;
}

.menu-lists ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-lists li {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 0 0 10px;
    margin: 0;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.menu-lists li:hover {
    background-color: rgb(230, 230, 230);
}